services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: lakeview
      POSTGRES_PASSWORD: password
      POSTGRES_DB: lakeview_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
